<h3>Thursday menu!</h3>

  <div class="col-md-4 about-left">
  <table class="tfood">
  <td>
    <p><b>Main</b></p>
  </td>
  <% @products.each do |i| %>
  <tr>
   <td><%= i.title %>
   <%= image_tag i.path_to_image %></td>

   <td><%= i.discribe %>
   <p><b>Price: <%= i.price %></b></p>
   <input name="main" type="radio" value="">
  </td>
  </tr>
  <% end %>
  </table>
</div>

<div class="col-md-4 about-left">
<table class="tfood">
<td>
  <p><b>Topping</b></p>
</td>
<% @products2.each do |i| %>
<tr>
 <td><%= i.title %>
 <%= image_tag i.path_to_image %></td>

 <td><%= i.discribe %>
 <p><b>Price: <%= i.price %></b></p>
 <input name="topping" type="radio" value="">
</td>
</tr>
<% end %>
</table>
</div>

<div class="col-md-4 about-left">
<table class="tfood">
<td>
  <p><b>Drink</b></p>
</td>
<% @products3.each do |i| %>
<tr>
 <td><%= i.title %>
 <%= image_tag i.path_to_image %></td>

 <td><%= i.discribe %>
 <p><b>Price: <%= i.price %></b></p>
 <input name="drink" type="radio" value="">
</td>
</tr>
<% end %>
</table>
</div>
