<h4>Today is <%= week_day %>, and our menu is: </h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Main</th>
      <th scope="col">Topping</th>
      <th scope="col">Drink</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" scope="row">
      <p>Make your oun mix!</p>
      <p>You can choose:</p>
      <p>1 main + 1 topping + 1 drink</p></th>
      <td colspan="3">
          <% if week_day == "Friday" %>
          <%= render 'week_menu/friday' %>
          <% elsif week_day == "Saturday" %>
          <%= render 'week_menu/saturday' %>
          <% elsif week_day == "Sanday"%>
          <%= render 'week_menu/sunday' %>
          <% elsif week_day == "Monday"%>
          <%= render 'week_menu/monday' %>
          <% elsif week_day == "Tuesday"%>
          <%= render 'week_menu/tuesday' %>
          <% elsif week_day == "Wednesday"%>
          <%= render 'week_menu/wednesday' %>
          <% elsif week_day == "Thursday"%>
          <%= render 'week_menu/thursday' %>
          <% end %>
        </td>
    </tr>
  </tbody>
</table>
